@import '../../app/scss/flex';
@import '../../app/scss/variables';

.header {
  @extend %flex-row;
  @extend %align-center;
  
  gap: 20px;
  padding: 0px $x-default;
  
  composes: header from global;
  
  nav {
    @extend %flex-row;

    gap: 20px;
  }

  svg {
    margin-left: auto;
  }
}
