@import '../../../app/scss/flex';
@import '../../../app/scss/variables';

.book-row {
  @extend %flex-row;
  @extend %align-center;

  border: 1px solid black;
  padding: $y-default $x-inner;

  & > div {
    width: 33.3%;
  }
}
