.pane {
  gap: 1.313rem;

  .first {
    gap: 0.25rem;
  }

  .second {
    gap: 2.125rem;

    button {
      background-color: transparent;
      border: none;

      & + button {
        border-left: 1px solid #e8e8e8;
        padding-left: 1.063rem;
      }
    }
  }
}
