@import '../../../app/scss/flex';
@import '../../../app/scss/variables';

.book-row {
  @extend %flex-row;

  background-color: white;
  border: 1px solid $grey;
  border-radius: 4px;
  padding: $y-default $x-inner;

  & > div {
    width: 33.3%;
  }
}
