@import '../../../app/scss/flex';

.pane {
  @extend %self-center;
  gap: 1.313rem;

  composes: progress-details from global;

  .first {
    gap: 0;
  }

  .second {
    gap: 0.063rem;

    @extend %justify-center;
  }
}
