%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%justify-center {
  justify-content: center;
}

%justify-between {
  justify-content: space-between;
}

%align-center {
  align-items: center;
}

%m-x-default {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}