@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

$header-font: 'Montserrat', sans-serif;
$text-font: 'Roboto Slab', serif;

$blue: #0290ff;
$pale-blue: #4386bf;
$black: #121212;

$font-big: 2rem;
$font-medium: 1.375rem;
$font-small: 0.875rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
}

//composed into Header module
.header {
  font-family: $header-font;
  h1 {
    color: $blue;
    font-size: $font-big;
  }
  nav {
    font-size: $font-small;
  }
}

//composed into BookDetails module
.book-details {
  font-family: $text-font;
  font-size: $font-small;

  span {
    &:nth-of-type(1) {
      font-family: $header-font;
      font-weight: bold;
      opacity: 0.5;
    }
    &:nth-of-type(2) {
      font-size: $font-medium;
      font-weight: bold;
    }
    &:nth-of-type(3) {
      color: $blue;
    }
  }

  button {
    font-family: inherit;
    color: $blue;
  }
}

//composed into ProgressDetails module
.progress-details {
  font-family: $header-font;
  span {
    &:nth-of-type(1) {
      font-size: $font-big;
      font-weight: bold;
    }
    &:nth-of-type(2) {
      font-size: $font-small;
      opacity: 0.5;
    }
  }
}

//composed into ChapterDetails module
.chapter-details {
  font-family: $text-font;
  font-size: $font-small;

  span {
    &:nth-of-type(1) {
      opacity: 0.5;
    }
  }

  button {
    font-family: inherit;
    font-size: inherit;
    background: $blue;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1.375rem;
  }
}


// h1 {
//   // font-family: $header-font;
  
//   
// }

// nav {
//   // font-family: $header-font;

//   
// }